:root {
  --pageBackground: #fffcf3;
  --brown100: #3a3628;
  --brown200: #76624a;
  --brown300: #a4663d;
  --gray100: #a0a0a0;
  --gray200: #6e6e6e;
  --blue100: #0a3474;
  --blue200: #052657;
  --coral: #fc777b;
}

.textMain {
  color: var(--brown100);
}

.inputMain {
  font-size: 16px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background: #fff7ed;
  border-radius: 6px;
  border: 2px solid;
  border-color: #f1e3d0;
}

.inputMain:focus {
  outline: none;
}

.buttonMain {
  margin: 12px 0 12px 0;
  width: 100%;
  display: inline-block;
  border-radius: 12px;
  padding: 12px 0 12px 0;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textareaMain {
  font-size: 16px;
  font-family: inherit;
  resize: vertical;
}

/* buttons */
.buttonMain:hover {
  transition: 0.3s;
  cursor: pointer;
}

.buttonMain:focus {
  outline: none;
}

/* button variants */
.buttonPrimary {
  color: white;
  background-color: var(--coral);
}

.buttonPrimary:hover {
  background-color: rgb(226, 99, 99);
}

.buttonRecord {
  color: white;
  background-color: #82bafc;
}

.buttonRecord:hover {
  background-color: #588fcf;
}

.buttonShare {
  background-color: #f9edc9;
  color: #b7a87c;
}

.buttonShare:hover {
  background: #b7a87c;
  color: white;
}

/* others */
.navigation {
  color: var(--gray100);
  cursor: pointer;
  transition: 0.2s;
}

.navigation:hover {
  color: var(--gray200);
}

hr {
  opacity: 0.2;
}

.link {
  text-decoration: none;
}
