.backgroundLayout {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.paperCardContainer {
  margin: auto;
}

.paperCard {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 28px;
  margin: 40px 0px; /* TODO: fix this when i can start testing received letters*/
  width: 80vw;
  max-width: 450px;
  position: relative;
}

.horizontalInbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.react-audio-player {
  width: 100%;
  height: 40px;
}

.footer {
  width: 100%;
  color: rgb(219, 173, 143);
  text-align: center;
  font-size: 14px;
  font-style: italic;
  flex-shrink: 0;
  margin-bottom: 20px;
}
