.backgroundLayout {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.paperCardContainer {
  margin: auto;
}

.paperCard {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 28px;
  width: 80vw;
  position: relative;
  max-width: 450px;
  margin-top: 20px;
}

.report-container {
  width: 80vw;
  position: relative;
  max-width: 450px;
  text-align: center;
  opacity: 0.5;
  margin: auto;
}

.horizontalInbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.react-audio-player {
  width: 100%;
  height: 40px;
}

.footer {
  width: 100%;
  color: rgb(219, 173, 143);
  text-align: center;
  font-size: 14px;
  font-style: italic;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.memories-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.memoryCard {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 28px;
  width: 80vw;
  position: relative;
  max-width: 450px;
  margin: 10px 0 10px 0;
  transition: 0.3s;
}

.memoryCard:hover {
  transition: 0.3s;
  z-index: 10;
}

.alert {
  padding: 6px;
  background-color: #588fcf;
  opacity: 1;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  max-width: 100vw;
  text-align: center;
}

.closebtn {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 24px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 20px;
}

.closebtn:hover {
  color: black;
}
