.backgroundLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.paperCard {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 28px;
  width: 80vw;
  max-width: 420px;
}

.horizontalInbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(219, 173, 143);
  text-align: center;
  font-size: 14px;
  font-style: italic;
  padding: 40px;
}
