.h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.body {
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
}

.italic {
  font-style: italic;
}

.textarea {
  font-size: 22px;
}

.blurred {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hyperlink {
  color: #6eb4f5;
  font-weight: bold;
}

.hyperlink:hover {
  color: #4aa3f7;
}

.about-title {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color: var(--gray100);
  margin-top: 24px;
  margin-bottom: 24px;
}

.about-header {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--coral);
  margin-bottom: 12px;
}

.about-quote {
  font-size: 16px;
  font-weight: 700;
  color: var(--gray100);
  margin-bottom: 12px;
  line-height: 135%;
}

.about-citation {
  font-size: 10px;
  font-style: italic;
  text-align: center;
  color: var(--gray100);
  margin-bottom: 10px;
}

.about-text {
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 135%;
}
