.h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.body {
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
}

.italic {
  font-style: italic;
}

.textarea {
  font-size: 22px;
}

.blurred {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hyperlink {
  color: #6eb4f5;
  font-weight: bold;
}
