.arrow_btn {
  cursor: pointer;
}

.canvas {
  background: #fff7ed !important;
  border-radius: 6px;
  border: 2px solid;
  border-color: #f1e3d0;
  margin-top: 16px;
}

.toolbar {
  display: flex;
  margin-top: 3px;
}

.undo {
  margin: auto 0 auto auto;
  color: #0a3474;
  cursor: pointer;
  transform: rotate(60deg);
  transition: transform 0.3s;
}

.undo:hover {
  transform: rotate(-60deg);
}

.clear {
  margin: auto 0 auto 3px;
  color: #fc777b;
  cursor: pointer;
  transition: transform 0.3s;
}

.clear:hover {
  transform: scale(1.2);
}

.color_square {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: opacity 0.2s, transform 0.2s;
}

.color_square:hover {
  opacity: 1;
  transform: scale(1.1);
}

.not_selected {
  opacity: 0.3;
}
